@media (min-width: 665px) {

    /* #region Places */ 

    #allplaces div {
        grid-template-areas: 
        "photograph name"
        "photograph location"
        "photograph description"
        "photograph button";
    }

    #allplaces div img {
        width: 300px;
    }
    #allplaces div:hover {
    	box-shadow: 0 0 50px #333;
    }
    #allplaces div h2 {
        margin-bottom: 0;
    }
    #allplaces div address {
        margin-top: 0;
    }

    /* #endregion */

    /* #region Hamburger Menu */
    .header span {
        display: block;
        font-size: 1.5rem;
        text-align: center;
        padding: 0.5rem;
    }
    #menu {
        display: none;
    }
    .navigation {
        flex-direction: row;
    }
    
    .navigation a {
        display: block;
        flex: 1 1 100%;
    }
    header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav ul {
		justify-content: flex-end;
		flex-direction: row;
	}
	nav a {
		flex: 1 1 100%;
	}
    /* #endregion */
}