/* #region Base */
:root {
    --primary-color: #20485D;
    --secondary-color: #324a24;
    --tertiary-color: #754300;
    --accent1-color: yellow;
    --accent2-color: #999999;
    --accent3-color: #EBB265;
    --font1-color: black;
    --font2-color: #f2f2f2;
    --font3-color: white;
    --heading-font: "Merriweather", serif;
    --body-font: "Roboto", sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.selected {
    background-color: var(--tertiary-color);
    color: var(--font3-color);
}
.non-selected {
    background-color: var(--primary-color);
    color: var(--font3-color);
}
h1, h2, h3, h4 ,.header span{
    font-family: var(--heading-font);
}
body {
    font-family: var(--body-font);
    color: var(--font1-color);
    margin: 0 auto;

}
button {
    font-family: var(--body-font);
    font-size: 1rem;
    width: 150px;
    padding: 0.5rem;
}
/* #endregion */

/* #region Nav/Hamburger menu */
#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: var(--font2-color);
	position: absolute;
	top: 0.6rem;
	right: 1rem;
    width: 50px;
}
#menu span{
	font-size: 0;
	color: white;
}
#menu::before {
	content: "☰";
}
#menu.open::before {
	content: "❌";
}
.navigation {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	list-style: none;
}
.navigation a {
	display: none;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	font-size: larger;
	color: #fff;
}
.navigation a:hover {
	background-color: #bbb;
	color: #333;
	font-weight: 700;
}
.navigation a.active {
    color: var(--accent3-color);
}
.open a {
	display: block;
}
nav ul {
	list-style: none;
	display: flex;
	flex-direction: column;
}
/* #endregion */

/* #region Header*/
header {
	background-color: black;
    color: var(--font2-color);
	display: grid;
	padding: 5px 20px;
    text-align: left;
}
header, main {
	margin: 0 auto;
}
main {
    padding: 0px;
}
h1 {
    font-size: 1.8rem;
    text-align: left;
    padding: 0 1rem;
    color: var(--secondary-color);
}
h2 {
    font-size: 1rem;
    padding: 0.5rem;
    color: var(--font3-color);
    background-color: var(--font1-color);
}
.header {
    display: flex;
    width: 85%;
    align-items: center;
}
.header span {
    display: block;
    text-align: center;
}
header img {
    height: 50px;
}
/* #endregion*/

/* #region Main */



/* #endregion */

/* #region Cards */



/* #endregion */



h1 {
	background-color: var(--primary-color);
	color: #eee;
	text-align: center;
	padding: 1rem;
	margin: 0 auto;
}

main {
	margin: 0 auto;
	padding: 0.5rem;
	max-width: 95%;
	background-color: #fff;
}

.menu {
	margin: 0.5rem auto;
	padding: 0.5rem;
	background-color: var(--font1-color);
	text-align: center;

	button {
		padding: 0.5rem 1rem;
		font-weight: 700;
	}
}

section {
	border: 1px solid rgb(0 0 0 / 10%);
	padding: 0.5rem;
	background-color: #ddd;

	a {
		font-size: 0.85rem;
		color: navy;
        word-break: break-word;
        overflow-wrap: anywhere;
	}

	h3 {
		font-size: 1.5rem;
	}
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 5px;
	align-items: center;

	section {
		text-align: center;
		& > * {
			margin: 0.1rem;
		}
        height: 100%;
	}

	img {
		border: 1px solid #fff;
		box-shadow: 0 0 1rem #555;
	}
}
h3 {
	font-size: 1.2rem;
}
.list {
	display: flex;
	flex-direction: column;

	section {
		display: grid;
		grid-template-columns: 3fr 2fr 2fr;
		margin: 0;
		padding: 0.25rem;

		& > * {
			margin: 0 1rem;
		}

		img {
			display: none;
		}

		h3 {
			font-size: 1rem;
            word-break: break-word;
            overflow-wrap: anywhere;
		}

		&:nth-child(even) {
			background-color: #bbb;
		}
	}
}
img {
	width: auto;
	height: 75px;
}











/* #region Footer */
footer {
    background-color: black;
    color: white;
    padding: 0.5rem;
    text-align: center;
}
.social{
    display: flex;
    justify-content: center;
    column-gap: 8px;
    padding-bottom: 0.5rem;
}
.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: 1px solid white;
    border-radius: 22px;
    color: white;
    text-decoration: none;
}
.social img {
    width: 22px;
    height: 22px;
}
.social a:hover {
    background-color: var(--tertiary-color);
}
#footer {
    font-size: 1rem;
    color: var(--font3-color);
}
#lastModified {
    color: var(--font2-color);
}
.lastModified {
    font-size: 0.85rem;
    margin-top: 0.25rem;
}
/* #endregion */